<a href="https://colab.research.google.com/github/futureCodersSE/working-with-data/blob/main/Projects/Female_employment_data_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Female employment rates

## 1971 to 2023 UK

Link to data source: https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/timeseries/lf25/lms

The data has been retrieved and split into two corresponding lists, one of time_periods and one of female employment rate (seasonally adjusted %) for the UK.

Run the code cell below to generate the two lists and print them parallel to each other.

In [ ]:
import pandas as pd

def get_data():
  url = "https://drive.google.com/uc?id=1aQ8Xy-Sw046j-JCiIOu3ETqrACFsYuCj"
  df = pd.read_csv(url, skiprows=8, header=None)
  return df[0].tolist(), df[1].tolist()

def print_data_as_table(time_period, employment):
  for i in range(len(time_period)):
    print(time_period[i], "      ", employment[i])

time_period, employment = get_data()
print_data_as_table(time_period, employment)

The list of time_periods has a number of discrete sections (whole years, years in quarters, months).

Observe the lists and then write code to create a set of smaller lists that make some sense.  You wil need to make pairs of lists (years and corresponding rates, etc)

Calculate some statistics from your lists (mean, max, min, etc) and think about correlation between quarter and employment rate - can you show this?

Think about how you might visualise something like the average for each quarter over the years available.  Maybe you can print a number of stars on a line for each 1%?  e.g.

```
Q1 ***************************************************
Q2 **********************************************************
Q3 *****************************************************************
Q4 ***************************************************
```