<a href="https://colab.research.google.com/github/futureCodersSE/working-with-data/blob/main/Projects/UK_NEET_18_20_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UK 18 to 20 years olds who were Not in Education, Employment or Training between 2001 and 2023 by quarter
---

In [ ]:
import pandas as pd

def get_data():
  url = "https://drive.google.com/uc?id=1zhA07XBcPHmBFe7hMxySxWMb8bgYZ5jt"
  df = pd.read_csv(url)
  date_list = df["Time period"].tolist()
  unemployed = df['Unemployed'].tolist()
  inactive = df['Economically inactive'].tolist()
  total_in_group = df['Total in population group (18-20)'].tolist()
  return date_list, unemployed, inactive, total_in_group

dates, unemployed, inactive, total_in_group = get_data()
print("Time period".ljust(12),"Unemployed".rjust(10),	"Inactive".rjust(10), "Total(18-20)".rjust(12))
template_str = "{date} {unemployed} {inactive} {total_in_group}"
for i in range(len(dates)):
  print(template_str.format(date = str(dates[i]).ljust(12), unemployed = str(unemployed[i]).rjust(10), inactive = str(inactive[i]).rjust(10), total_in_group = str(total_in_group[i]).rjust(12)))

# Play with some statistics

Create a new list called Unemployed(%) and populate it with a list of the percentage of the total_in_group who are unemployed.

Find the maximum percentage and use its index to find the quarter when this occurred.

Do something similar with minimum, mean, etc

# Create some new lists

Create a list with just the years in it.

Find the average percentage unemployed for each quarter over the years (ie the average for Jan-Mar for each year from 2002 to 2023

Do the same for each quarter.

Find the mean percentage unemployed for each quarter and print these in a table.

Do the same for economically inactive.

Think about how you might visualise something like the average for each quarter over the years available.  Maybe you can print a number of stars on a line for each 1%?  e.g.

```
Jan-Mar ***************************************************
Apr-Jun **********************************************************
Jul-Sep *****************************************************************
Oct-Dec ***************************************************
```